@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
  }

  html > body > #__nuxt > #__layout {
    @apply overflow-hidden;

    > div {
      @apply flex flex-col min-h-screen;
    }
  }

  svg {
    height: auto;
  }

  *::selection {
  }

  html {
    height: -webkit-fill-available;
    scroll-behavior: smooth;
  }

  body {
    @apply relative text-body bg-primary lg:text-body-lg text-primary font-normal;
    min-height: -webkit-fill-available;
  }

  p {
    @apply break-words;
    hyphens: auto;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-poppins font-bold break-words;
    hyphens: auto;
  }

  h1 {
    @apply text-h1 lg:text-h1-lg;
  }

  h2 {
    @apply text-h2 lg:text-h2-lg;
  }

  h3 {
    @apply text-h3 lg:text-h3-lg;
  }

  h4 {
    @apply text-h4 lg:text-h4-lg;
  }

  select {
    /* for Firefox */
    -moz-appearance: none;
    /* for Chrome */
    -webkit-appearance: none;
  }
  
  /* For IE10 */
  select::-ms-expand {
    display: none;
  }
}