.text-image {
  &__article {
  
  }

  &__copy {
    .h-group {
      &__pre-title {
        @apply font-poppins font-semibold text-h5 lg:text-body text-blue;
      }

      &__title {
        @apply text-green pb-10 lg:pb-20;
      }
    }

    .text-content {
      &__title {
        @apply pb-10;
      }

      &__body {
        @apply text-body-md lg:text-body-lg pb-20 lg:pb-30;
      }
    }

    .link-content {
      @apply pb-20 lg:pb-30;
    }
  }

  &__image {
    @apply relative;
  }

  &__figure {
    @apply relative;

    &:after {
      content: "";
      position: absolute;
      z-index: -1;
      display: block;
      right: 8rem;
      top: 4rem;
      bottom: 16rem;
      left: -100%;
      background: #f7f7f7;
      content: '';
      /* @apply block absolute -left-full -right-full bg-gray bottom-10;*/
    }
  }

  &__src {
    @apply w-slanted-image;
  }
}