.text-grid  {
    h2 {
        @apply text-body-xl text-green pb-10;
    }
     p {
        @apply pb-2;
    }
    .grid__items {
        @apply flex mt-20 justify-between;
    }

/* sm */
@media (min-width: 640px) {
    p {
        width: 580px;
    }
}

@media (min-width: 768px) {
    p {
        width: 580px;
    }
}

@media (min-width: 1024px) {
    p {
        width: 580px;
    }
}
@media (min-width: 1280px) {

    p {
        width: 580px;
    }   
}

@media (min-width: 1536px) {
    p{
        width: 580px;
    }
}
}